#Android Studio specific
/*.iml
/.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.DS_Store
/build
/captures
/.externalNativeBuild
.idea/vcs.xml
GradationTitleBar-master/
addsubview/.gitignore
addsubview/build.gradle
addsubview/libs/
addsubview/proguard-rules.pro
addsubview/src/androidTest/
addsubview/src/main/AndroidManifest.xml
addsubview/src/main/res/drawable/
addsubview/src/main/res/mipmap-hdpi/
addsubview/src/main/res/mipmap-mdpi/
addsubview/src/main/res/mipmap-xhdpi/
addsubview/src/main/res/mipmap-xxhdpi/
addsubview/src/main/res/mipmap-xxxhdpi/
addsubview/src/main/res/values/
addsubview/src/test/
app/app.iml
gradationscroll/
import-summary.txt
sdk_jar.patch
app.iml
app/build/
